.container
  .row.mb-3.mt-5
    .col-9
      %h3 Listing Canteens
    .col-3
      = link_to 'Create Canteen', new_canteen_path, class: 'btn btn-primary btn-md'
    
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Address
        %th No. of users
        %th Actions
    %tbody
      - @canteens.each do |canteen|
        %tr
          %td= canteen.name
          %td= canteen.address
          %td
          %td 
            =link_to 'Edit', edit_canteen_path(canteen), class: 'btn btn-secondary btn-sm' 
            =link_to 'Destroy', canteen_path(canteen), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
            = link_to 'Canteen Admin', canteen_admins_path(canteen), class: 'btn btn-info btn-sm'