.container
  %br/
  %br/
  .row
    .col-4
      %h1 New Canteen
  .row
    .col-4
      = render 'form'
  .row
    .col-4
      %button.btn.btn-primary.btn-md{:type => "button"}= link_to 'Back', canteens_path, class:"button-font-color"