.container
  .row.mt-5
    .col-4
    .col-4.mt-5
      = form_tag({action: :new_through_csv}, multipart: true) do
        = file_field_tag 'canteenAdmins'
        = submit_tag "import", class: 'btn btn-primary mt-2'
    .col-4