.container
  .row.mt-5.ml-5 
    %h1 A customer management system for canteen admins
    %h2 Login & manage!
  .row.mt-3.ml-5
    - unless user_signed_in?
      = link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg'