.container
  .row.mt-5
    .col-3
    .col-4  
      %h2 The Canteen Master
    .col-5
  .row.mt-5
    .col-4
    .col-4
      - unless user_signed_in?
        = link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg mr-2'
    .col-4