.container
  %br/
  .row
    .col-3 
    %h1 Add Canteen Admin
    .col-2
      - if user_signed_in?
        %button.btn.btn-link{:type => "button"}= link_to "Sign Out", destroy_user_session_path, method: :delete
  .row
    .col-3
    =render 'form'
  .row
    .col-3
    %button.btn.btn-primary.btn-md{:type => "button"}= link_to 'Back', canteens_path, class:"button-font-color"
